@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>DashBoard</h2>

<a class="btn btn-danger" onclick="SendEmail()">Click to Send Email</a>


<script>var SendEmail = function(){

        $.ajax({
            type: "Post",
            url: "/Item/SendMailToUser",
            success: function (data) {
                alert("Success");
            }
        })
    }</script>
