@model AD_Project.Models.Departments.EmployeeRequestForm
@{
    ViewBag.Title = "RequestedDetails";
    Layout = "~/Views/Shared/_RepLayout.cshtml";
}

<h2>RequestedDetails</h2>

<table class="table">
    <tr>
        <th>
            ITEM DESC
        </th>
        <th>
            QUANTITY
        </th>

    </tr>
    @foreach (var item in Model.RequestItems)
    {
        <tr>
            <td>
                @item.Item.ItemDesc
            </td>
            <td>
                @item.RequestedQty
            </td>
        </tr>
    }
</table>
<a href="~/Item/DisplayRequests/" class="btn btn-default"> Back to List</a>



