@model AD_Project.ViewModel.SupplierViewModel
@{
    ViewBag.Title = "DisburmentList";
     Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<h2>Tender Details</h2>

@using (Html.BeginForm("TenderForm", "StoreManager", FormMethod.Post))
{
    @Html.DropDownListFor(m => m.SelectedsupplierId, new SelectList(Model.Suppliers, "SupplierId ", "SupplierName"), "Select Supplier", new { @class = "btn btn-default dropdown-toggle" });
    <input type="Submit" value="Submit" class = "btn btn-success"/>
}
<br />
@if (Model.SelectedsupplierId != 0)
{
    <table class ="table" border="1">
        <thead>
            <tr>
                <th width="50%" class="text-center">Item description</th>
                <th width="18%" class="text-center">Unit Of Measure</th>
                <th width="50%" class="text-center">Tender Price</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var i in Model.Items)
            {

                <tr>

                    @foreach (var p in Model.Suppliers_Price)
                    {
                        if (i.Id == p.Itemid)
                        {
                            <td height="10" class="col-md-1 text-center ">@i.ItemDesc</td>

                        }

                    }
                    @foreach (var p in Model.Suppliers_Price)
                    {
                        if (i.Id == p.Itemid)
                        {
                            <td height="10" class="col-md-1 text-center ">@i.UnitOfMeasure</td>
                            <td height="10" class="col-md-1 text-center ">$@p.ItemPrice</td>
                        }

                    }
                    </tr>
            }

            </tbody>
    </table>

}